* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body, html {
    height: 100%;
  }

  header{
    width: 100%;
    border: solid black;
  }

  header .topbar{
    align-items: center;
    text-align: center;
  }

  header .topbar .left{ 
    align-items: center;
    margin-left: 20px;
  }

  header .topbar img{
   display: none;
  }

  footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .block{
   
    width: 80%;
    height: 300px;
    margin: 20px;
    text-align: center;
  }

  footer .block img{
    width: 50%;
    height: 160px;
  }

  footer .block .content{
    background-color: rgb(66, 160, 243);
    height: 140px;
  }




  @media only screen and (min-width:1000px){
    header .topbar{
        width: 100%;
        display: flex;
        flex-direction: row;
      }
    
      header .topbar .left{
        width: 70%;
        align-items: center;
        margin-left: 20px;
      }
    
      header .topbar .right{
        width: 30%;
        
      }
    
      header .topbar img{
        width: 80px;
        height: 80px;
        float: right;
        padding: 10px;
        display: block;
      }

      footer{
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      footer .block .content{
        
        height: 180px;
        border-radius: 4px;
      }
  }
